{% assign images = include.images %}

{% if images.use_thumbnails %}
  {% assign thumbs_dir = "thumbs/" %}
{% else %}
  {% assign thumbs_dir = "" %}
{% endif %}

<div class="image-flexgrid gallery">
  {% for row in images.rows %}
    <div class="image-flexgrid-row">
      {% for image in row %}
        {% assign ratio = image.ratio %}
        {% unless ratio %}{% assign ratio = images.default_ratio %}{% endunless %}

        {% assign thumbnail = image.thumbnail %}
        {% unless thumbnail %}{% assign thumbnail = thumbs_dir | append: image.file %}{% endunless %}

        <a href="{{ images.base_url }}{{ image.file }}" class="image-item lightbox-image" style="--ratio: {{ ratio }};">
          <img src="{{ images.base_url }}{{ thumbnail }}" alt="{{ image.file }}" />
        </a>
      {% endfor %}
    </div>
  {% endfor %}
  <div style="clear: both;"></div>
</div>
