{% assign images = include.images %}

{% if images.use_thumbnails %}
  {% assign thumbs_dir = "thumbs/" %}
{% else %}
  {% assign thumbs_dir = "" %}
{% endif %}

<div class="image-flexgrid gallery">
  {%- for section in images.sections -%}
    {%- assign cols = section.cols -%}
    {%- unless cols %}{% assign cols = section.images | size %}{% endunless -%}

    {%- for image in section.images -%}
      {%- assign i0 = forloop.index0 | modulo:cols -%}
      {%- assign i1 = forloop.index | modulo:cols -%}
      {%- assign ratio = image.ratio -%}
      {%- unless ratio %}{% assign ratio = section.ratio %}{% endunless -%}
      {%- unless ratio %}{% assign ratio = images.ratio %}{% endunless -%}
      {%- assign thumbnail = image.thumbnail -%}
      {%- unless thumbnail %}{% assign thumbnail = thumbs_dir | append: image.file %}{% endunless -%}
      {%- if i0 == 0 -%}
        <div class="image-flexgrid-row">
      {%- endif -%}
        {%- if image.video -%}
          <div class="image-item" style="display: inline-block; --ratio: {{ ratio }};">
            <video controls>
              <source src="{{ site.files_domain }}{{ images.base_url }}{{ image.file }}" type="video/mp4">
            </video>
          </div>
        {%- else -%}        
          <a href="{{ site.files_domain }}{{ images.base_url }}{{ image.file }}" class="image-item lightbox-image" style="--ratio: {{ ratio }};">
            <img src="{{ site.files_domain }}{{ images.base_url }}{{ thumbnail }}" alt="{{ image.file }}" />
          </a>
        {%- endif -%}        
      {%- if i1 == 0 or forloop.last -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
  <div style="clear: both;"></div>
</div>
