<div class="projects-grid">
  {% for node in include.projects %}
    <a href="{{ node.url }}">  
      <div class="preview box-shadow">
        <div class="bg" style="background-image: url('{{ site.files_domain }}{{ node.preview_image }}');{{ node.preview_bg_css }}"></div>
        <div class="text">
            <span class="title">{{ node.title }}</span>
            <span class="subtitle">&middot; {{ node.year }}</span>
        </div>
      </div>
    </a>    
  {% endfor %}
  <div style="clear: both;"></div>
</div>