<div class="sidebar{% if page.url == '/' %} active{% endif %}">
  <div class="sidebar-mobile-bar">
    <a class="header" href="{{ '/' | relative_url }}">
      KEVIN B. CHEN
    </a>
    <div class="sidebar-toggle">
      &#9776;
    </div>
  </div>

  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <!--<img class="profile" src="{{ site.files_domain }}/images/kevin.chen-headshot2.jpg">-->
      <h1>
        <a href="{{ '/#top' | relative_url }}">
          KEVIN B. CHEN
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>


    <nav class="sidebar-nav">
      {% for node in site.menu %}
        {% if node.title != null %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

    &copy; {{ site.time | date: '%Y' }}
  </div>
</div>
