.content {
  font-size: 16px;
}
@media (min-width: 38em) {
  .content {
    font-size: 18px;
  }
}
@media (min-width: 48em) {
  .content {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  .content {
    font-size: 18px;
  }
}

.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
table img {
  margin: auto;
}
table em {
  font-size: 0.75rem;
}
.youtube {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

.preview {
  background: #0a81d1;
  position: relative;

  height: 180px;
  margin: 0 1% 1% 0;
  float: left;

  overflow: hidden;
}
.preview {
  width: 49.5%;
}
.preview:nth-child(2n) { margin-right: 0; }

.preview .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0.95;
  transition: opacity 0.25s, transform 0.25s;
}

.preview .gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.0) 70%, rgba(0, 0, 0, 0.6));
  /*background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));*/
  padding: 1rem;
  color: #fff;
}

.preview .text {
  position: absolute;
  left: 0.5rem;
  bottom: 0.25rem;
  color: #fff;
  vertical-align: bottom;
}
.preview .text .title { color: #fff; font-size: 1rem; font-weight: bold; }
.preview .text .subtitle { color: #fff; font-size: 0.75rem; }

.preview:hover .bg { opacity: 0.25; transform: scale(1.2); }


.image-grid { margin-bottom: 1rem; }
.image-grid .image-item {
  display: block;
  float: left;
  margin: 0 1% 1% 0;
}
.image-grid img { width: 100%; margin: 0; }
.image-grid.columns-2 .image-item { width: 49.5%; }
.image-grid.columns-2 .image-item:nth-child(2n) { margin-right: 0; }
.image-grid.columns-3 .image-item { width: 32.6%; }
.image-grid.columns-3 .image-item:nth-child(3n) { margin-right: 0; }
.image-grid.columns-4 .image-item { width: 24.25%; }
.image-grid.columns-4 .image-item:nth-child(4n) { margin-right: 0; }

.image-flexgrid { margin-bottom: 1rem }
.image-flexgrid-row {
  display: flex;
  gap: 1%;
  margin-bottom: 1%;
}
.image-flexgrid-row .image-item {
  flex-basis: 0;
  aspect-ratio: var(--ratio);
  flex-grow: calc(var(--ratio));
}
.image-flexgrid-row img { width: 100%; margin: 0; }
